@media (min-width: 800px){
  main {
    overflow-y: hidden;
  }
  main .sets_solved {
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }
  main div article {
    width: 50%;
  }
  main div article section p {
    width: 100%;
    margin: 2px 0;
    text-align: left;
  }
  main div article section h3 {
    text-align: left;
  }
  main div figure {
    width: 50%;
    height: 100%;
    margin: 0;
    max-width: 600px;
    justify-content: center;
    align-items: center;
  }
}
