*.pyc
*.pyo
*.mo
*.db
*.css.map
*.egg-info
*.sql.gz
.cache
.project
.idea
.pydevproject
.idea/workspace.xml
.DS_Store
.git/
.vagrant/
__pycache__
migrations
migrations/*
venv
.gitignore
venv/
venv/*
dist
docs
env
.env
logs
stats
Dockerfile
*.md
