{% extends 'layout.html' %}

{% block content %}
<div class="d-flex justify-content-between align-items-center mt-5 mb-5">
  <form action="{% url 'sets' %}" class="card card-body p-5">
    <label for="sets" class="form-label">
      <textarea style="height:128px; margin-bottom: 16px;" class="form-control" name="sets" id="sets"
        placeholder="A=[1,2,3,4]&#10;B=[4,5,6]" required></textarea>
      <textarea style="height:128px; margin-bottom: 16px;" class="form-control" name="set_operation" id="sets"
        placeholder="A-B&#10;A∪B" required></textarea>
      <input type="submit" value="Calcular" class="btn btn-primary">
    </label>
  </form>
</div>
{% endblock %}
