{% extends 'layout.html' %} {% block content %}
<div class="sets_solved">
    <section class="venn__section__container sets__container__info">
        <article>
            <hr>
            <section class="sets_serie">
                <h3 class="text-white set__title">Serie de conjuntos</h3>
                <p class="text-white set">U = {{ universal }}</p>
                {% for set_item in set_solved %}
                <p class="text-white set">{{ set_item.setName }} = {{ set_item.setValue }}</p>
                {% endfor %}
            </section>
            <hr>
            <section class="sets__operations">
                <h3 class="text-white set__title">Operaciones</h3>
                {% for operation in set_operations %}
                <p class="text-white set">{{ operation.nameOperation }} = {{ operation.operationValue }}</p>
                {% endfor %}
            </section>
            <hr>
        </article>
    </section>
    <section class="venn__section__container">
        <figure class="figure__container">
            <picture>
                {% if renderable %}
                <img class="venn__image" src="data:image/png;base64,{{ set_venn|safe }}">
                {% else %}
                {% load static %}
                <img class="venn__image" src="{% static 'images/error.png' %}">
                <figcaption class="text-white">Solo pueden renderizarse diagramas de 2 o 3 conjuntos</figcaption>
                {% endif %}
            </picture>
        </figure>
    </section>
</div>
{% endblock %}
